:root {
    --pink: #FA0D64;
    --light-pink: #ff035f;
  }

html {
    font-size: 1.1rem;
    font-family: sans-serif;
}

a {
    color: white;
}

body{
    padding-left: 20px;
    background-color: #1c1b20;
    color: white;
}

/* button:hover {
    background-color: var(--light-pink);
} */

footer {
    color: gray;
}

footer a {
    color: gray;
}

footer a:hover {
    color: white;
}

.footer-link {
    font-weight: bold;
}

.footer-span {
    display: block;
    margin: 10px 0px;
}

h1, h2 {
    color: var(--pink);
}

.note {
    font-style: italic;
}

.search-result {
    margin: 10px 0px;
}

.search-result-span {
    margin-right: 10px;
}

#searchButton {
    background-color: var(--pink);
    padding: 10px 10px;
    border: 1px solid var(--pink);
    border-radius: 5px;
}

#userInput {
    width: 250px;
    padding: 10px 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

#userInput:focus {
    border: 2px solid var(--pink);
    outline: none;
}

.view-button{
    background-color: var(--pink);
    border: 1px solid var(--pink);
    border-radius: 3px;
    padding: 7px 10px;
}

/* grid */
#resultGrid {
    display: none;
    width: 400px;
    grid-template-columns: auto 140px;
    margin-top: 30px;
}

.grid-item {
    margin-bottom: 15px;
}


@media(max-width: 400px){
    #resultGrid {
        width: 300px;
        grid-template-columns: auto 140px;
    }
}

@media(max-width: 565px){

    html {
        font-size: 1rem;
    }

    body {
        padding-left: 10px;
    }

    

    #userInput {
        width: 60%;
    }

}

