:root {
    --pink: #FA0D64;
  }

html {
    font-size: 1.1rem;
    font-family: sans-serif;
}

a {
    color: white;
}

body{
    padding-left: 20px;
    background-color: #1c1b20;
    color: white;
}

h1, h2 {
    color: var(--pink);
}


#searchButton {
    background-color: var(--pink);
    padding: 10px 10px;
    border: 1px solid var(--pink);
    border-radius: 5px;
}

#userInput {
    padding: 10px 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

/* #userInput:focus {
    border: 1px solid pink;
} */


